doctype html
html(lang="en")
    head
        // Global site tag (gtag.js) - Google Analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-175262730-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-175262730-1');
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="stylesheets/headter.bundle.css")
        link(rel="stylesheet", href="stylesheets/artistes.bundle.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#ffa826")
        title Artistes &nbsp;|&nbsp; undiluted music
    body
        form#form.hide(action="")
            input#search-input(type="search", placeholder="Search")
            button#clear-button.buttons.grid-center.material-icons clear
        header#header.grid
            #logo.grid-center Logo
            nav.grid
                ul.grid
                    li
                        button#genres-button.nav-link
                            span#genres-text Genres
                            span#icon.material-icons arrow_drop_down
                        ul#genres-box.hide
                            li: a(href="/afrobeats") Afrobeats
                            li: a(href="/afro-fusion") Afro-Fusion
                            li: a(href="/afro-house") Afro-House
                            li: a(href="/afro-pop") Afro-Pop
                            li: a(href="/alternative-r&b") Alternative R&B
                            li: a(href="/alternative-rock") Alternative Rock
                            li: a(href="/banku") Banku
                            li: a(href="/blues") Blues
                            li: a(href="/contemporary-r&b") Contemporary R&B
                            li: a(href="/dancehall") Dancehall
                            li: a(href="/electronic") Electronic
                            li: a(href="/folk") Folk
                            li: a(href="/fuji") Fuji
                            li: a(href="/gospel") Gospel
                            li: a(href="/highlife") Highlife
                            li: a(href="/hip-hop") Hip-Hop
                            li: a(href="/house") House
                            li: a(href="/igbo-gospel-hip-hop") Igbo Gospel Hip-Hop
                            li: a(href="/igbo-highlife") Igbo Highlife
                            li: a(href="/igbo-rap") Igbo Rap
                            li: a(href="/indie-pop") Indie-Pop
                            li: a(href="/jazz") Jazz
                            li: a(href="/neo-soul") Neo-Soul
                            li: a(href="/pop") Pop
                            li: a(href="/r&b") R&B
                            li: a(href="/ragga") Ragga
                            li: a(href="/reggae") Reggae
                            li: a(href="/soca") Soca
                            li: a(href="/soul") Soul
                            li: a(href="/trap") Trap
                            li: a(href="/world") World
                            li: a(href="/yoruba") Yoruba
                    li: a.nav-link.active(href="/artistes") Artistes
                    li: a.nav-link(href="/singles") Singles
                    li: a.nav-link(href="/eps") EPs
            button#search-button.buttons.grid-center.material-icons search
        script(src="scripts/header.bundle.js")
        main
            section#artistes-container
                article
                    h1.letter &num;
                    ul.artistes
                        each val, key in artistes
                            if key.search(/(\d)/) === 0
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter A
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'a' | 'A'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter B
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'b' | 'B'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter C
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'c' | 'C'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter D
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'd' | 'D'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter E
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'e' | 'E'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter F
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'f' | 'F'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter G
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'g' | 'G'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter H
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'h' | 'H'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter I
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'i' | 'I'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter J
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'j' | 'J'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter K
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'k' | 'K'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter L
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'l' | 'L'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter M
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'm' | 'M'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter N
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'n' | 'N'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter O
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'o' | 'O'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter P
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'p' | 'P'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter Q
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'q' | 'Q'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter R
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'r' | 'R'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter S
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 's' | 'S'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter T
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 't' | 'T'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter U
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'u' | 'U'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter V
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'v' | 'V'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter W
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'w' | 'W'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter X
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'x' | 'X'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter Y
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'y' | 'Y'
                                li.name: a(href="artistes/" + key) #{val}
                article
                    h1.letter Z
                    ul.artistes
                        each val, key in artistes
                            if key.charAt(0) === 'z' | 'Z'
                                li.name: a(href="artistes/" + key) #{val}
        footer.grid-center
            #footer-links.grid
                p: a(href="") Sitemap
                p: a(href="") Privacy Policy
                p: a(href="") About Us
            p &copy; undiluted music. All Rights Reserved.
                            
